/*CSS Geral*/
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
    font:sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}

.calcada{
    display: flex;
    flex: 1;
    justify-content: center;
}

/*CSS dos controles*/

.controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
    background-color: #222;
    padding: 10px;
    margin-bottom: 10px;
}

.controles .mostrador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22f522;
    border: 10px solid #666;
    height: 100%;
    width: 200px;
    border-radius: 8px;
    font-size: 2.5rem;
}

.controles button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 2rem;
    border: 6px solid #999;
}

.controles button.destaque {
    border-color: yellow;
}
/*CSS rua*/

.rua {
    display: flex;
    height: 100px;
    background-color: #777;
    align-items: center;
    gap: 30px;
    border-top: 10px solid white;
}

.rua > .faixa {
    height: 10 px;
    background-color: #ddd;
    flex: 1;
}

/* CSS Prédio */

.predio {
    display: flex;
    width: 500px;
    height: 100%;
    background-color: #319da0;
    gap: 10px;
}

.coluna {
    display: flex;
    flex-direction: column;
    background-color: #0006 ;
    flex: 2;
}

.andar {
    border-bottom: 2px solid white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.porta {
    background-color: brown;
    width: 40%;
    height: 80%;
    border: solid 5px #fff6;
    border-bottom-width: 0;
    display: flex;
    align-items: center;
    padding: 5%;
}

.porta::after {
    content: "";
    width: 30%;
    height: 15%;
    border-radius: 5px;
    background-color: #fff9;
}

.terreo {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: transparent;
}

.janela {
    background-color: #068888;
    border: solid 5px #fffc;
    height: 50%;
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.janela::after {
    content: "";
    border: 1px solid #FFFc;
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
}

.janela::before {
    content: "";
    border: 1px solid #FFFc;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
}

.poco {
    display: flex;
    background-color: #fff9;
    flex: 1;
    justify-content: center;
    position: relative;
}

.elevador {
    border: 3px solid black;
    border-top-width: 10px;
    background-color: #fffA;
    width: 80%;
    position: absolute;
    bottom: 0;
}